<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.00.00" ModuleVersion="08.11.00" ExportDate="2017-03-14T23:22:04.487264+01:00">
  <Header>
    <App Guid="6b607276-63cf-4c9c-be39-73ec66d7f7fb" />
    <Language Default="en-US" />
    <Dimensions />
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Description="Stores resources like translations for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Description="Stores settings for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="ShortDomain" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="f1b504fe-f93c-4d99-abf0-6e86eda5c68b" KeyNumber="1185">
            <Value Key="Name" Value="Short Domain" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;The short domain which we'll probably use&lt;/p&gt;" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="731569bf-8a6c-44ea-9e40-8fbcfcd611da" KeyNumber="1185" />
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="a4a18ac6-8016-4b00-b6db-c342f459161b" KeyNumber="1185">
            <Value Key="RowCount" Value="" Type="Number" />
          </Entity>
        </Attribute>
        <Attribute StaticName="GenerateKeyLength" Type="Number" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="e6ba4b61-7458-4d39-8461-e0c51a21430f" KeyNumber="1186">
            <Value Key="Name" Value="Key Length to generate" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;The key length - you usually want to limit this either to 3 or another short value, to make it type-able&lt;/p&gt;" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="DefaultValue" Value="3" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="number-default" Type="String" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Number" AttributeSetName="@Number" EntityGUID="a0e25664-0e42-4606-af3e-490e3aa05a64" KeyNumber="1186">
            <Value Key="Decimals" Value="0" Type="Number" />
            <Value Key="Min" Value="" Type="Number" />
            <Value Key="Max" Value="" Type="Number" />
          </Entity>
        </Attribute>
        <Attribute StaticName="GenerateKeyPrefix" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="41483d0d-483a-4a68-a539-549514769dff" KeyNumber="1187">
            <Value Key="Name" Value="Key Prefix in generated url" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;Will auto-prepend this into all generated links.&lt;/p&gt;" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="DefaultValue" Value="q" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="962796bb-aa7a-4abf-9360-8013dad32fca" KeyNumber="1187" />
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="34ac5267-3ba7-41a5-9d76-89565594c6a2" KeyNumber="1187">
            <Value Key="RowCount" Value="" Type="Number" />
          </Entity>
        </Attribute>
        <Attribute StaticName="IgnoreCase" Type="Boolean" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="b5bb1b26-b4e8-4ec8-8c97-3edffa21f2de" KeyNumber="1188">
            <Value Key="Name" Value="Ignore Case in Keys" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="DefaultValue" Value="true" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="boolean-default" Type="String" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Boolean" AttributeSetName="@Boolean" EntityGUID="3c4588be-07f4-4604-b982-918fcbef3b05" KeyNumber="1188" />
        </Attribute>
        <Attribute StaticName="RetiredLink" Type="Hyperlink" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="a8d0bf4f-ecb6-4f12-b4a2-48a39e8d8e62" KeyNumber="1197">
            <Value Key="Name" Value="Retired Link" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;Redirect people to here if a link has become invalid&lt;/p&gt;" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="hyperlink-default" Type="String" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Hyperlink" AttributeSetName="@Hyperlink" EntityGUID="e8a324d7-8e01-4115-a6a9-1a80fdcd05fc" KeyNumber="1197">
            <Value Key="ShowPagePicker" Value="False" Type="Boolean" />
            <Value Key="ShowImageManager" Value="False" Type="Boolean" />
            <Value Key="ShowFileManager" Value="False" Type="Boolean" />
            <Value Key="Paths" Value="" Type="String" />
            <Value Key="DefaultDialog" Value="" Type="String" />
            <Value Key="FileFilter" Value="" Type="String" />
            <Value Key="ShowAdam" Value="True" Type="Boolean" />
            <Value Key="Buttons" Value="adam,more" Type="String" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="56185dad-c20f-43f1-be57-dbdb9d87f0fb" Name="Group" Description="Link groups" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="eb096d35-46b1-4b76-a471-74f9e25d98c9" KeyNumber="1189">
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Description" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="5e7f8c90-d834-49b1-8b70-eb0418d7f009" KeyNumber="1190">
            <Value Key="Name" Value="Description" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="02fb3b0d-4cbe-467f-9edf-50c97ebcbc8f" Name="Link" Description="Link definition" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Key" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="08df7fda-3a08-439a-a825-63efe30d0498" KeyNumber="1191">
            <Value Key="Name" Value="Key" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="True" Type="Boolean" />
            <Value Key="InputType" Value="string-url-path" Type="String" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="afc769f0-3cfe-4a17-af78-1d6bf2fef88b" KeyNumber="1191" />
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-url-path" AttributeSetName="@string-url-path" EntityGUID="34cca4d8-7b98-42b4-a7af-300bd7514dd3" KeyNumber="1191">
            <Value Key="AutoGenerateMask" Value="" Type="String" />
            <Value Key="AllowSlashes" Value="False" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Link" Type="Hyperlink" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="8ba69401-8144-4678-ba15-2cca170ac057" KeyNumber="1192">
            <Value Key="Name" Value="Link" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
            <Value Key="InputType" Value="hyperlink-default" Type="String" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="45e5e834-2dd9-4036-a101-932f5ab864e1" KeyNumber="1193">
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Retired" Type="Boolean" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="404d7547-2a4c-4c07-9b00-44b6a2982b96" KeyNumber="1194">
            <Value Key="Name" Value="Retired" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="DefaultValue" Value="false" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="boolean-default" Type="String" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Boolean" AttributeSetName="@Boolean" EntityGUID="0d5813e5-21d3-41f6-96da-0bf21b22cb79" KeyNumber="1194" />
        </Attribute>
        <Attribute StaticName="Group" Type="Entity" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="0311cd9f-c2f9-4cd2-8b22-eb7d1b34433f" KeyNumber="1195">
            <Value Key="Name" Value="Group" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="entity-default" Type="String" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Entity" AttributeSetName="@Entity" EntityGUID="7876067b-c77d-43e4-b2c4-db94dc81a289" KeyNumber="1195">
            <Value Key="EnableEdit" Value="True" Type="Boolean" />
            <Value Key="EnableCreate" Value="True" Type="Boolean" />
            <Value Key="EnableAddExisting" Value="True" Type="Boolean" />
            <Value Key="EnableRemove" Value="True" Type="Boolean" />
            <Value Key="EnableDelete" Value="False" Type="Boolean" />
            <Value Key="AllowMultiValue" Value="False" Type="Boolean" />
            <Value Key="EntityType" Value="Group" Type="String" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Notes" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="1b8eddc3-dc59-464c-a6a7-6f7f0d96293f" KeyNumber="1196">
            <Value Key="Name" Value="Notes" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
            <Value Key="InputType" Value="string-wysiwyg" Type="String" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="0f464cd3-8a97-454d-b594-72c8cb767174" KeyNumber="58">
      <Value Key="DisplayName" Value="Short Links Management" Type="String" />
      <Value Key="Description" Value="A simple app to manage short-links, typical for marketing and qr-codes" Type="String" />
      <Value Key="Version" Value="00.00.01" Type="String" />
      <Value Key="Folder" Value="ShortLinks" Type="String" />
      <Value Key="AllowTokenTemplates" Value="False" Type="Boolean" />
      <Value Key="AllowRazorTemplates" Value="True" Type="Boolean" />
      <Value Key="Hidden" Value="False" Type="Boolean" />
      <Value Key="OriginalId" Value="" Type="String" />
      <Value Key="RequiredVersion" Value="08.03.00" Type="String" />
      <Value Key="RequiredDnnVersion" Value="07.02.00" Type="String" />
      <Value Key="SupportsAjaxReload" Value="True" Type="Boolean" />
    </Entity>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="9e6cfd90-9074-48ab-ade6-0e8ba4b6be2c" KeyNumber="58">
      <Value Key="ShortDomain" Value="2qr.ch" Type="String" />
      <Value Key="GenerateKeyLength" Value="3" Type="Number" />
      <Value Key="GenerateKeyPrefix" Value="q" Type="String" />
      <Value Key="IgnoreCase" Value="True" Type="Boolean" />
      <Value Key="RetiredLink" Value="/" Type="Hyperlink" />
    </Entity>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="85f8bdf7-cafd-45c7-b7ac-48a0a7e8f315" KeyNumber="58" />
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="56185dad-c20f-43f1-be57-dbdb9d87f0fb" AttributeSetName="Group" EntityGUID="e8213a14-a764-408a-8b85-739541279edd">
      <Value Key="Title" Value="Default" Type="String" />
      <Value Key="Description" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="02fb3b0d-4cbe-467f-9edf-50c97ebcbc8f" AttributeSetName="Link" EntityGUID="092f15a3-981c-4835-bc84-af6e0274c020">
      <Value Key="Key" Value="qdemo" Type="String" />
      <Value Key="Link" Value="http://www.google.ch/" Type="Hyperlink" />
      <Value Key="Title" Value="Demo link" Type="String" />
      <Value Key="Retired" Value="False" Type="Boolean" />
      <Value Key="Group" Value="e8213a14-a764-408a-8b85-739541279edd" Type="Entity" />
      <Value Key="Notes" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="2f102b13-06b5-491c-9752-b0e7e4849694">
      <Value Key="Name" Value="Manage" Type="String" />
      <Value Key="Path" Value="_Manage.cshtml" Type="String" />
      <Value Key="ContentTypeStaticName" Value="" Type="String" />
      <Value Key="ContentDemoEntity" Value="" Type="Entity" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PresentationDemoEntity" Value="" Type="Entity" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListContentDemoEntity" Value="" Type="Entity" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationDemoEntity" Value="" Type="Entity" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Pipeline" Value="0e87e45b-1a9e-4507-af80-d8c31e977e3f" Type="Entity" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="DataPipeline" AttributeSetName="DataPipeline" EntityGUID="0e87e45b-1a9e-4507-af80-d8c31e977e3f">
      <Value Key="Name" Value="All" Type="String" />
      <Value Key="Description" Value="" Type="String" />
      <Value Key="AllowEdit" Value="True" Type="Boolean" />
      <Value Key="StreamsOut" Value="ListContent,Default,Links" Type="String" />
      <Value Key="StreamWiring" Value="bbd54c28-15d8-490d-990a-8fdc9a5a2775:Default&gt;95074805-8180-471f-aa9f-49a0c038224d:Default&#xD;&#xA;95074805-8180-471f-aa9f-49a0c038224d:Default&gt;fab49ed2-14a7-401f-bafa-14fa6ad70f40:Default&#xD;&#xA;fab49ed2-14a7-401f-bafa-14fa6ad70f40:Default&gt;Out:Links" Type="String" />
      <Value Key="TestParameters" Value="[Module:ModuleID]=2034" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="bbd54c28-15d8-490d-990a-8fdc9a5a2775" KeyGuid="0e87e45b-1a9e-4507-af80-d8c31e977e3f">
      <Value Key="Name" Value="ICache" Type="String" />
      <Value Key="Description" Value="" Type="String" />
      <Value Key="PartAssemblyAndType" Value="ToSic.Eav.DataSources.Caches.ICache, ToSic.Eav.DataSources" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 800,&#xD;&#xA;  &quot;Left&quot;: 440&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="95074805-8180-471f-aa9f-49a0c038224d" KeyGuid="0e87e45b-1a9e-4507-af80-d8c31e977e3f">
      <Value Key="Name" Value="EntityTypeFilter" Type="String" />
      <Value Key="Description" Value="" Type="String" />
      <Value Key="PartAssemblyAndType" Value="ToSic.Eav.DataSources.EntityTypeFilter, ToSic.Eav.DataSources" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 532,&#xD;&#xA;  &quot;Left&quot;: 449&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="|Config ToSic.Eav.DataSources.EntityTypeFilter" AttributeSetName="|Config ToSic.Eav.DataSources.EntityTypeFilter" EntityGUID="011828a9-7dee-4548-99fb-18d2daa76038" KeyGuid="95074805-8180-471f-aa9f-49a0c038224d">
      <Value Key="TypeName" Value="Link" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="fab49ed2-14a7-401f-bafa-14fa6ad70f40" KeyGuid="0e87e45b-1a9e-4507-af80-d8c31e977e3f">
      <Value Key="Name" Value="ValueSort" Type="String" />
      <Value Key="Description" Value="" Type="String" />
      <Value Key="PartAssemblyAndType" Value="ToSic.Eav.DataSources.ValueSort, ToSic.Eav.DataSources" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 340,&#xD;&#xA;  &quot;Left&quot;: 440&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="|Config ToSic.Eav.DataSources.ValueSort" AttributeSetName="|Config ToSic.Eav.DataSources.ValueSort" EntityGUID="5bea9241-e306-40f5-8d5a-b51894c97aa9" KeyGuid="fab49ed2-14a7-401f-bafa-14fa6ad70f40">
      <Value Key="Attributes" Value="Key" Type="String" />
      <Value Key="Directions" Value="asc" Type="String" />
    </Entity>
  </Entities>
  <PortalFiles />
  <PortalFolders>
    <Folder Id="679" RelativePath="adam/ShortLinks/" />
  </PortalFolders>
</SexyContent>