todo<br>
test setup web.config<br>


Important: the root path is different in DNN 9!

<h1>Short Link Manager</h1>
<div>
    <h2>What is the ShortLink Manager?</h2>
    <p></p>


</div>


</div>
<h2>Basic Redirects</h2>
<div>
    Just type in the target address in the link
</div>

<div>
    <h2>Setup</h2>
    <ol>
        <li>  you must first setup an initial redirect in your web.config - it's a bit complex (sorry), but here's how:   </li>
        <li></li>
    </ol>

</div>
