<link rel="stylesheet" href="@App.Path/assets/styles.css" data-enableoptimizations="bottom" />
@{
    var all = AsDynamic(Data["Links"]);
    var Lib = CreateInstance("_library.cshtml");
    var newKey = Lib.GenerateCode(App.Settings.GenerateKeyPrefix, (int)App.Settings.GenerateKeyLength, true);
}

@if(Permissions.UserMayEditContent){
     
    <div class="container-fluid app-shortlinks-wrapper">
        <div class="ly-container-inner">
            <div class="row">
                <div class="col-xs-12">
                    @RenderPage("_Table Fragment.cshtml", new {links = all})

                    @Edit.Toolbar(actions: "new", contentType: "Link", prefill: new { Key = newKey, Link = Request.RawUrl }) for @newKey  
                    <div>
                        <br>
                        <br>
                        <em>
                            Setup note: make sure you have configured the web.config - instructions <a href="@Link.To(parameters: "webconfig=true")">here</a>
                        </em>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
