@{
    var numbering = 1;
}
<div>
    <h2>#@(numbering++) Ensure DNN listens to the short-url</h2>
    <a href="@App.Path/assets/dnn-site-alias-configuration.png" target="_blank">
        <img src="@App.Path/assets/dnn-site-alias-configuration.png" class="float-right" width="200">
    </a>
    <p>
        To do this, add the domain for the short-url to this portal in the site settings. This is important, as the redirect below will then go to the <em>same domain</em> (so DNN must know it). <br>

        Do not use language-settings for this domain
    </p>

    <hr>
    <h2>#@(numbering++) Configure the App-Settings</h2>
    <p>In the app-settings, make sure you set all parameters as needed - especially the short-domain - as this will be used to generate the <code> web.config</code> snippet below.</p>

    <hr>
    <h2>#@(numbering++) add redirect-Snippet to web.config</h2>
    <p>This snippet is what you need to insert into the web.config in the right place. When looking at this in a browser, the important spots already contain the domain etc. which should be monitored. So assuming you configured the app-settings correctly, then just copy/paste :) </p>

    <p>Place this in: </p> 
    <ul>
        <li>
            &lt;configuration&gt;
            <ul>
                <li>
                    &lt;system.webServer&gt;
                    <ul>
                        <li>
                            &lt;rewrite&gt;
                            <ul>
                                <li>
                                    &lt;rules&gt;
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
<textarea rows="15" cols="120"><!-- Rewrite all @App.Settings.ShortDomain/xyz to be handled by the redirect web service -->
<rule name="Forward shortlinks to redirect-system" stopProcessing="true" enabled="true">
    <!-- handle urls with 1 and 25 numbers/chars; adapt it as you need it  --> 
    <match url="^([A-Za-z0-9]{1,25})$" />

    <!-- we only want to capture urls on the shortdomain @App.Settings.ShortDomain --> 
    <conditions>
        <add input="{HTTP_HOST}" pattern="^(www\.)?@(App.Settings.ShortDomain.Replace(".", "\\."))$" ignoreCase="true" />
    </conditions>

    <!-- note that the root path can have subportal name in it - if the app is installed in a sub-portal -->
    <!-- note also that in DNN9, the root path (after the sub-portal) is not desktopmodules/2sxc/api but instead /api/2sxc -->
    <action type="Rewrite" url="/desktopmodules/2sxc/api/app/@App.Folder/live/api/redirect/go?key={R:1}" />
</rule></textarea>
</div>

    <hr>
    <h2>#@(numbering++) Mark as complete</h2>
    <p>Once the configuration is ready, set the value <code>ConfigurationComplete</code> to <code>true</code> in the app-settings.</p>
